@import 'nib'

// GENERIC
global-reset()
reset-html5()

.three, .stage3dCSS
	position absolute
	top 0
	left 0
	z-index 1
	background transparent

.stage3dCSS
	z-index 2

body
	background #000
	// overflow hidden
	min-height 100%
	height 100%
	width 100%
	color #FFF

// FONTS
// fSSerif = 'Helvetica'
//
// fLight( size )
// 	font-family fSSerif
// 	font-size size
// 	font-weight 300
//
// fRegular( size )
// 	font-family fSSerif
// 	font-size size
// 	font-weight 400
//
// fBold( size )
// 	font-family fSSerif
// 	font-size size
// 	font-weight 700

// Loader
@import 'loader.styl'
